For more details on this tutorial's setup and process, see `00_Introduction.ipynb`.

# Stage 4: Regular Batch Inference

In Stage 3: Deploy the Model in Wallaroo, the housing model created and tested in Stage 2: Training Process Automation Setup was uploaded to a Wallaroo instance and added to the pipeline `housing-pipe` in the workspace `housepricing`.  This pipeline can be deployed at any point and time and used with new inferences.

For the purposes of this demo, let's say that every month we find the newly entered and still-unsold houses and predict their sale price.

The predictions are entered into a staging table, for further inspection before being joined to the primary housing data table.

We show this as a notebook, but this can also be scripted and scheduled, using CRON or some other process.

## Resources

The following resources are used as part of this tutorial:

* **data**
  * `data/seattle_housing_col_description.txt`: Describes the columns used as part data analysis.
  * `data/seattle_housing.csv`: Sample data of the Seattle, Washington housing market between 2014 and 2015.
* **code**
  * `postprocess.py`: Formats the data after inference by the model is complete.
  * `preprocess.py`: Formats the incoming data for the model.
  * `simdb.py`: A simulated database to demonstrate sending and receiving queries.
  * `wallaroo_client.py`: Additional methods used with the Wallaroo instance to create workspaces, etc.
* **models**
  * `housing_model_xgb.onnx`: Model created in Stage 2: Training Process Automation Setup.

## Steps

This process will use the following steps:

* [Connect to Wallaroo](#connect-to-wallaroo): Connect to the Wallaroo instance and the `housepricing` workspace.
* [Deploy the Pipeline](#deploy-the-pipeline): Deploy the pipeline to prepare it to run inferences.
* [Read In New House Listings](#read-in-new-house-listings): Read in the previous month's house listings and submit them to the pipeline for inference.
* [Send Predictions to Results Staging Table](#send-predictions-to-results-staging-table): Add the inference results to the results staging table.

### Connect to Wallaroo

Connect to the Wallaroo instance and set the `housepricing` workspace as the current workspace.

In [1]:
import json
import pickle
import wallaroo
import pandas as pd
import numpy as np
import pyarrow as pa

import simdb # module for the purpose of this demo to simulate pulling data from a database

from wallaroo_client import get_workspace

import os
# Only set the below to make the OS environment ARROW_ENABLED to TRUE.  Otherwise, leave as is.
os.environ["ARROW_ENABLED"]="True"

# used to display dataframe information without truncating
from IPython.display import display
pd.set_option('display.max_colwidth', None)

import preprocess

import postprocess

In [2]:
# Login through local Wallaroo instance

wl = wallaroo.Client()

# SSO login through keycloak

wallarooPrefix = "YOUR PREFIX"
wallarooSuffix = "YOUR PREFIX"

wallarooPrefix = "doc-test"
wallarooSuffix = "wallaroocommunity.ninja"

wl = wallaroo.Client(api_endpoint=f"https://{wallarooPrefix}.api.{wallarooSuffix}", 
                    auth_endpoint=f"https://{wallarooPrefix}.keycloak.{wallarooSuffix}", 
                    auth_type="sso")

In [3]:
def get_workspace(name):
    workspace = None
    for ws in wl.list_workspaces():
        if ws.name() == name:
            workspace= ws
    if(workspace == None):
        workspace = wl.create_workspace(name)
    return workspace

def get_pipeline(name):
    try:
        pipeline = wl.pipelines_by_name(name)[0]
    except EntityNotFoundError:
        pipeline = wl.build_pipeline(name)
    return pipeline

In [4]:
new_workspace = get_workspace("housepricing")
_ = wl.set_current_workspace(new_workspace)

### Deploy the Pipeline

Deploy the `housing-pipe` workspace established in Stage 3: Deploy the Model in Wallaroo (`03_deploy_model.ipynb`).

In [5]:
pipeline = wl.pipelines_by_name("housing-pipe")[-1]
pipeline.deploy()

{'name': 'housing-pipe', 'create_time': datetime.datetime(2023, 4, 5, 14, 12, 29, 940751, tzinfo=tzutc()), 'definition': "[{'ModelInference': {'models': [{'name': 'housepricemodel', 'version': '97338965-853a-4af6-b087-6a3e65b77b15', 'sha': '7404007c88906331c8159c42379f30966a21fd29fe2629049e69541d0083db9a'}]}}]"}

### Read In New House Listings

From the data store, load the previous month's house listing, prepare it as a DataFrame, then submit it for inferencing.

In [6]:
conn = simdb.simulate_db_connection()

# create the query
query = f"select * from {simdb.tablename} where date > DATE(DATE(), '-1 month') AND sale_price is NULL"
print(query)

# read in the data
newbatch = pd.read_sql_query(query, conn)
newbatch.shape

select * from house_listings where date > DATE(DATE(), '-1 month') AND sale_price is NULL

(1090, 22)

In [7]:
preprocessed = pd.DataFrame.from_records({'tensor': preprocess.create_features(newbatch)})
display(preprocessed)

result = pipeline.infer(preprocessed)
# convert the result variable into a series of results in the column `prediction`
result["prediction"] = result["out.variable"].apply(lambda x: postprocess.postprocess(x)[0])
display(result.head(5))
len(result)

                                                                                                                      tensor
0        [3.0, 1.75, 1250.0, 5963.0, 1.0, 0.0, 0.0, 4.0, 7.0, 1250.0, 0.0, 47.6796, -122.301, 970.0, 5100.0, 70.0, 0.0, 0.0]
1         [4.0, 1.0, 1610.0, 2982.0, 1.5, 0.0, 0.0, 4.0, 7.0, 1610.0, 0.0, 47.587, -122.294, 1610.0, 4040.0, 98.0, 0.0, 0.0]
2     [4.0, 2.25, 2010.0, 9603.0, 1.0, 0.0, 0.0, 3.0, 8.0, 1440.0, 570.0, 47.5343, -122.054, 2060.0, 9793.0, 37.0, 0.0, 0.0]
3      [3.0, 1.0, 1610.0, 8579.0, 1.0, 0.0, 0.0, 4.0, 7.0, 1010.0, 600.0, 47.4563, -122.171, 1610.0, 8579.0, 61.0, 0.0, 0.0]
4        [3.0, 1.0, 1300.0, 8316.0, 1.0, 0.0, 0.0, 4.0, 6.0, 1300.0, 0.0, 47.3221, -122.216, 1260.0, 8316.0, 69.0, 0.0, 0.0]
...                                                                                                                      ...
1085    [4.0, 2.75, 2460.0, 8643.0, 2.0, 0.0, 0.0, 3.0, 9.0, 2460.0, 0.0, 47.4828, -122.133, 3110.0, 8626.0, 12.0, 0.0, 0.0]
1086     [4.0, 2.5, 3650.0, 7090.0, 2.0, 0.0, 0.0, 3.0, 10.0, 3650.0, 0.0, 47.606, -122.052, 3860.0, 7272.0, 15.0, 0.0, 0.0]
1087    [3.0, 2.25, 1610.0, 3764.0, 2.0, 0.0, 0.0, 3.0, 7.0, 1610.0, 0.0, 47.3589, -122.083, 1610.0, 3825.0, 11.0, 0.0, 0.0]
1088    [4.0, 3.5, 2850.0, 5577.0, 2.0, 0.0, 0.0, 3.0, 8.0, 1950.0, 900.0, 47.5252, -122.192, 2850.0, 5708.0, 9.0, 0.0, 0.0]
1089     [3.0, 3.0, 2780.0, 6000.0, 2.0, 0.0, 0.0, 3.0, 9.0, 2780.0, 0.0, 47.5184, -121.886, 2850.0, 6000.0, 10.0, 0.0, 0.0]

[1090 rows x 1 columns]

,time,in.tensor,out.variable,check_failures,prediction
0,2023-04-05 15:13:43.777,"[3.0, 1.75, 1250.0, 5963.0, 1.0, 0.0, 0.0, 4.0, 7.0, 1250.0, 0.0, 47.6796, -122.301, 970.0, 5100.0, 70.0, 0.0, 0.0]",[5.706082],0,508255.0
1,2023-04-05 15:13:43.777,"[4.0, 1.0, 1610.0, 2982.0, 1.5, 0.0, 0.0, 4.0, 7.0, 1610.0, 0.0, 47.587, -122.294, 1610.0, 4040.0, 98.0, 0.0, 0.0]",[5.699142],0,500198.0
2,2023-04-05 15:13:43.777,"[4.0, 2.25, 2010.0, 9603.0, 1.0, 0.0, 0.0, 3.0, 8.0, 1440.0, 570.0, 47.5343, -122.054, 2060.0, 9793.0, 37.0, 0.0, 0.0]",[5.73207],0,539598.0
3,2023-04-05 15:13:43.777,"[3.0, 1.0, 1610.0, 8579.0, 1.0, 0.0, 0.0, 4.0, 7.0, 1010.0, 600.0, 47.4563, -122.171, 1610.0, 8579.0, 61.0, 0.0, 0.0]",[5.432551],0,270739.0
4,2023-04-05 15:13:43.777,"[3.0, 1.0, 1300.0, 8316.0, 1.0, 0.0, 0.0, 4.0, 6.0, 1300.0, 0.0, 47.3221, -122.216, 1260.0, 8316.0, 69.0, 0.0, 0.0]",[5.281724],0,191304.0

1090

### Send Predictions to Results Staging Table

Take the predicted prices based on the inference results so they can be joined into the `house_listings` table.

Once complete, undeploy the pipeline to return the resources back to the Kubernetes environment.

In [8]:
result_table = pd.DataFrame({
    'id': newbatch['id'],
    'saleprice_estimate': result["prediction"]
})

result_table.to_sql('results_table', conn, index=False, if_exists='append')

In [9]:
# Display the top of the table for confirmation
pd.read_sql_query("select * from results_table limit 5", conn)

           id  saleprice_estimate
0  9215400105            508255.0
1  1695900060            500198.0
2  9545240070            539598.0
3  1432900240            270739.0
4  6131600075            191304.0

In [10]:
conn.close()
pipeline.undeploy()

{'name': 'housing-pipe', 'create_time': datetime.datetime(2023, 4, 5, 14, 12, 29, 940751, tzinfo=tzutc()), 'definition': "[{'ModelInference': {'models': [{'name': 'housepricemodel', 'version': '97338965-853a-4af6-b087-6a3e65b77b15', 'sha': '7404007c88906331c8159c42379f30966a21fd29fe2629049e69541d0083db9a'}]}}]"}

From here, organizations can automate this process.  Other features could be used such as data analysis using Wallaroo assays, or other features such as shadow deployments to test champion and challenger models to find which models provide the best results.